* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(37, 37, 37);
    color: aliceblue;
    font-family: 'Playfair Display';
}

/* Decoração */
.blood-esquerdo {
    position: fixed;
    top: -20px;
    left: 0;
    width: 180px;
    opacity: 0.7;
    z-index: 9999;
    pointer-events: none;
}

.blood-direito {
    position: fixed;
    top: -20px;
    right: 0;
    width: 180px;
    opacity: 0.7;
    z-index: 9999;
    pointer-events: none;
}

.rosa-esquerda {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 180px;
    opacity: 0.9;
}

.rosa-direita {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 180px;
    opacity: 0.9;
}

/* Botão de música */
#btnMusica{
    background: #143a16;
    color:#e8e2d6;
    border:2px solid #2f7d32;
    padding:6px 12px;
    border-radius:30px;
    cursor:pointer;
    font-size:13px;
    transition:.3s;
}

#btnMusica:hover{
    background:#2f7d32;
    color:white;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.6);
}

/* HEADER */
header {
    background-color: green;
    padding: 20px 380px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 7px rgba(0,0,0, 0.3);
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'UnifrakturCook';
    font-size: 1.5rem;
    font-weight: bold;
}
.logo:hover {
    color: #000000;
    text-shadow:
        0 0 5px rgb(57, 57, 57),
        0 0 10px #000000,
        0 0 20px #000000;
}

nav {
    display: flex;
    gap: 2rem;
}
nav a {
    color: white;
    text-decoration: none;
    margin-top: 7px;
    font-size: 18px;
}
nav a:hover {
    font-size: large;
    color: #000000;
    text-shadow:
        0 0 5px rgb(0, 0, 0),
        0 0 10px #000000,
        0 0 20px #000000;
}




/* Frase Final */
.frase-final {
    font-family:'UnifrakturCook';
    text-align: center;
    font-style: italic;
    font-size: 30px;
    color: #eef1ee;
    text-shadow:
    0 0 5px rgb(0, 87, 13),
    0 0 10px #006711,
    0 0 20px #00c62b;
}
.frase-final::before {
    content:"❝";
    color: #eef1ee;
    font-size: 3rem;
    margin-right:5px;
    vertical-align:middle;
}
.frase-final::after {
    content:"❞";
    color: #eef1ee;
    font-size: 3rem;
    margin-right:10px;
    vertical-align:middle;
}

/* FOOTER */
.footer {
    background-color: #003107;
    color: rgb(255, 255, 255);
    padding: 3rem 0 1rem;
}
.footer a {
    color: #ffffff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}
.footer-section {
    margin: 2rem;
    flex: 1;
    min-width: 200px;
}
.footer-section h4 {
    margin-bottom: 1rem;
    color: #00b52a;
}
.footer-bottom {
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid #000000;
    color: #ffffff;
}

